{% extends "base.html" %}
{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
{% include 'includes/alerts.html' %}
    <div class="container">
        <div class="row">
            {% include 'includes/dashboard_sidebar.html' %}

        

        <main class="col-md-9">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">Ordenes de compra </strong>
            </header>


            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Orden ID</th>
                                    <th>Fecha de orden</th>
                                    <th>Estado de orden</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                <tr>
                                    <td>{{ order.order_number }}</td>
                                    <td>{{ order.created_at }}</td>
                                    <td>{{ order.get_status_display }}</td>
                                    <td>{{ order.order_total }}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="4" class="text-center">No se han encontrado ordenes de compra.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                   </div>
                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
        


            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock%}